@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    b {
      @apply font-semibold;
    }
  }
  .force-fill-current svg {
    fill: currentColor !important;
  }

  .text-white {
    color: white;
  }
  .text-black {
    color: #252F3E;
  }